@import '~node_modules/modern-normalize/modern-normalize.css';

a {
  text-decoration: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
.search-form {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: rgb(103, 118, 230);
}
input {
  height: 40px;
  width: 320px;
}
.load-more {
  display: none;
  margin: 0 auto;
  padding: 5;
  width: 150px;
  margin-bottom: 50px;
  border-radius: 20px;
}
.is-visible {
  display: block;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 0 auto;
  width: 100%;
}
.photo-card {
  display: flex;
  flex-direction: column;
  flex-basis: calc((100% - 20px) / 3);
}
.info {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.image {
  flex-grow: 1;
  display: flex;
}
.info-item {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  align-items: center;
}
.icon-search {
  fill: black;
  width: 20px;
  height: 20px;
}
